body{
    background-color: seagreen;
    margin: auto;
    width: 50%;
    padding: 50px;
    vertical-align: middle;
}

h1 {
    color: aliceblue;
    text-align: center;
    padding: 5%;
}

.letterSquare{
    width: 50px;
    height: 50px;
    font-size: 20pt;
    text-align: center;
}