body {
    background-color: seagreen;
    width: 50%;
    vertical-align: middle;
    text-align: center;
}

h1 {
    color: aliceblue;
    text-align: center;
    padding: 5%;
}

.letterSquare {
    width: 50px;
    height: 50px;
    font-size: 20pt;
    text-align: center;
    border: 20%;
    border-color: slategrey;
    text-transform: uppercase;
    margin: 0.25%;
    /* background-color: aquamarine; */
}